hypre-2.28.0
lapack-3.11
parmetis-4.0.3
petsc-3.19.3
petsc_solver
*/build
OpenCAEPoro/out*.txt
OpenCAEPoro/testOpenCAEPoro
OpenCAEPoro/build
OpenCAEPoro/log
OpenCAEPoro/lib
.vscode
OpenCAEPoro/data/test/statistics.out
BuildShell
OpenCAEPoro/mpi-build-petsc.sh
OpenCAEPoro/data/test/SUMMARY.out
OpenCAEPoro/data/test/FastReview.out
OpenCAEPoro/data/case1/SUMMARY.out
OpenCAEPoro/data/case1/FastReview.out
.rsrc/*
.*
!.git
!.gitignore
OpenCAEPoro/myrank
OpenCAEPoro/**/statistics.out
